
#:80 {
#	root * /srv
#	file_server
#	#php_fastcgi php:9000
#}
#php_fastcgi php:8000 {
#	root * /srv
#}

:80 {
	root * /srv
	file_server
	php_fastcgi php:9000
}


:8080 {
	reverse_proxy adminer:8080
}
